* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.background-image {
  background-image: url("./Assets/Hero-bg.png");
}
.main {
  background-color: #f5f8ff;
}
/* ------------Navbar section starts here---------- */
.navbar {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  margin: 0 auto;
}
.nav-logo h1 {
  font-size: 34px;
  color: #4e47ff;
  font-family: "Inter", sans-serif;
}
.btn {
  padding: 12px 36px;
  border-radius: 10px;
  background-color: #4e47ff;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: none;
}
.btn:hover {
  background-color: rgb(190, 187, 4);
  color: #000000;
  cursor: pointer;
}

/* ------------------Banner section starts here---------------- */

.banner-text h1 {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 37px;
  margin-top: 158px;
}
.banner {
  text-align: center;
}
.banner button {
  margin-bottom: 200px;
}

/* -------------Action section starts here------------ */

.title {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 23px;
}
.sub-title {
  font-size: 24px;
  color: rgb(37, 36, 50, 50%);
  margin-bottom: 23px;
}
.action-image img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}
.action {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px;
  padding-top: 116px;
}

/* ----------------Productive User Section starts here-------- */
.productive-user-title h1 {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 40px;
  text-align: center;
}
.productive-sub-title-1 h2 {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
  font-family: "Inter", sans-serif;
}
.productive-sub-title-1 p {
  font-size: 20px;
  color: rgb(0, 0, 0, 50%);
  font-family: "Inter", sans-serif;
}
.productive-user-sub-title {
  display: flex;
  justify-content: center;
  gap: 158px;
}

.productive-user {
  width: 1140px;
  margin: 0 auto;
  border-radius: 24px;
  padding: 50px 80px;
  background-color: rgb(78, 71, 255, 10%);
  margin-bottom: 137px;
}

/* -----------User's Feedback section starts here--------------- */
.feedback-title {
  margin-bottom: 50px;
  text-align: center;
}
.icon-star {
  display: flex;
  gap: 5px;
  margin-bottom: 24px;
}
.reviewer-image {
  border-radius: 50%;
}
.reviewer {
  display: flex;
  gap: 12px;
}
.card {
  width: 366px;
  background-color: rgb(255, 255, 255, 50%);
  border-radius: 14px;
  padding: 24px;
  border: 1px solid #f2eded;
  box-shadow: 5px 5px 5px #f2eded;
}
.card-title {
  margin-bottom: 12px;
}
.card-subtitle {
  font-size: 18px;
  color: rgb(0, 0, 0, 50%);
  margin-bottom: 24px;
}
.name h4 {
  color: #757575;
  margin-bottom: 3px;
}
.name p {
  color: #b3b3b3;
}
.feedback-card {
  display: flex;
  gap: 20px;
}
.user-feedback {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 137px;
}
/* ------------Focus section starts here------------ */
.focus h1 {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}
.focus p {
  font-size: 14px;
  color: rgb(0, 0, 0, 50%);
  margin-bottom: 20px;
}
.focus-btn {
  margin-bottom: 20px;
}
.focus-image {
  width: 840px;
  height: 364px;
  border-radius: 48px;
}
.focus {
  width: 1140px;
  margin: 0 auto;
  padding: 71px 150px;
  background-color: #ffffff;
  border-radius: 14px;
  text-align: center;
  margin-bottom: 90px;
}

/* -----------Get in Touch section starts here------------- */
.newsletter {
  width: 1140px;
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  align-items: center;
  gap: 230px;
}
.newsletter-title {
  font-size: 47px;
  font-weight: bold;
  color: #000000;
}
.form-input {
  width: 539px;

  border-radius: 10px;
  padding: 20px 32px;
  background-color: #ffffff;
  font-size: 20px;
  color: rgb(0, 0, 0, 50%);
  border: 1px solid #d6dded;
  font-family: "Inter", sans-serif;
  margin-bottom: 19px;
  margin-right: 0;
}
.newsletter-form label {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  font-family: "Inter", sans-serif;
  display: block;
  margin-bottom: 10px;
}
.form-btn {
  padding: 19px 101px;
  width: 539px;
}

/* ------------Footer section starts here------------ */
.footer-subtitle p {
  color: #8987a1;
  margin-bottom: 20px;
}
.footer-title h1 {
  font-size: 100px;
  color: #4e47ff;
  font-family: "Inter", sans-serif;
  margin-bottom: 8px;
}
.links a {
  color: #8987a1;
  text-decoration: none;
  margin-right: 48px;
  margin-bottom: 100px;
}
.footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid rgb(0, 0, 0, 10%);
  padding: 104px 455px;
}
